<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.OutDetailMapper">

    <resultMap id="BaseResultMap" type="com.entity.OutDetail">
            <result property="id" column="id" jdbcType="VARCHAR"/>
            <result property="goodId" column="good_id" jdbcType="VARCHAR"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,good_id,num
    </sql>
    <delete id="deleteByMainId">
        DELETE
        FROM west_out_detail
        WHERE out_id = #{id}
    </delete>
    <select id="selectHotGoods" resultType="com.vo.HotGoodVO">
        select SUM(num) as num,good_id from west_out_detail  GROUP BY good_id
    </select>
    <select id="selectByTime" resultType="com.dto.TimeGoodDTO">
        SELECT SUM(num) as num,good_id
        from west_out_detail
        WHERE hour(create_time) >= #{start} AND hour(create_time) <![CDATA[<]]>  #{end}
        GROUP BY good_id
    </select>
</mapper>
